@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
    --soft-orange: #e9ab53;
    --soft-red: #f15e50;

    --off-white: #fffdfa;
    --grayish-blue: #c5c6ce;
    --dark-grayish-blue: #5d5f79;
    --very-dark-blue: #00001a;

    --font-primary: 'Inter';
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: var(--font-primary), sans-serif;
    font-size: 1rem;
    font-weight: normal;
}



/* HEADER */

#header {
    padding: 1em !important;
}

#logo {
    width: 15vw;
    max-width: 80px;
}

.navbar-toggler {
    border: none;
    z-index: 1060;
}

.navbar-toggler[aria-expanded="true"] #menu-icon {
    width: 30px;
    height: 30px;
    background-image: url('../assets/images/icon-menu-close.svg');
    background-size: cover;
}


#menu-icon {
    width: 40px;
    height: 20px;
    background-image: url('../assets/images/icon-menu.svg');
    background-size: cover;
}

#navbar-items {
    z-index: 1050;
}

#navbar-items.show {
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 100vh;
    padding: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
}

#navbar-items.show::before {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 35%;
    height: 100vh;
    background-color: #00000060;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--very-dark-blue);
}

.nav-link:hover {
    color: var(--soft-red);
}

@media (min-width: 960px) {
    
    #header {
        padding: 3em 10em !important;
    }

    .navbar-nav {
        gap: 2em;
    }

    .nav-link {
        color: var(--dark-grayish-blue);
        font-weight: 500;
    }


}



/* PRINCIPAL CONTENT */

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

#principal-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#principal-content h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1em;
    margin-top: 0.5em;
    color: var(--very-dark-blue);
}

#principal-content p {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--dark-grayish-blue);
}

#btn-read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 0.5em;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--very-dark-blue);
    background-color: var(--soft-red);
    border-radius: 0;
}

#btn-read-more:hover {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}

/* NEWS CONTENT */

#news-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--very-dark-blue);
}

#news-content h2 {
    font-size: 2rem;
    color: var(--soft-orange);
}

.content-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 1em;
}

.content-cards h3 a {
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--off-white);
    text-decoration: none;
}

.content-cards h3 a:hover {
    color: var(--soft-orange);
}

.content-cards p {
    font-size: 0.75rem;
    color: var(--dark-grayish-blue);
}

.content-cards div:nth-child(2) {
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-top: 1px solid var(--dark-grayish-blue);
    border-bottom: 1px solid var(--dark-grayish-blue);
}



/* CARDS AREA */

#cards-area {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    height: fit-content;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    height: fit-content;
    border: none;
}

.card div {
    display: flex;
    flex-direction: column;
}

.card h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--soft-red);
}

.card h3 a {
    font-size: 0.95rem;
    font-weight: 800;
    color: var(--very-dark-blue);
    text-decoration: none;
}

.card h3 a:hover {
    color: var(--soft-red);
}

.card p {
    font-size: 0.75rem;
    color: var(--dark-grayish-blue);
}

.card-img {
    width: 25%;
    height: auto;
    object-fit: cover;
    border-radius: 0;
}

@media (min-width: 960px) {

    main {
        padding: 0 10em;
    }
    
}

@media (min-width: 1280px) {

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
        "principal news"
        "cards cards"
        ;
    }

    #principal-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "principal-img principal-img"
        "principal-title principal-txt"
        "principal-title principal-btn"
        ;
        grid-area: principal;
        column-gap: 1.5em;
        row-gap: 1.5em;
    }

    #principal-content picture {
        grid-area: principal-img;
    }

    #principal-content h1 {
        font-size: 3.855rem;
        word-spacing: 0.5rem;
        margin-top: 0;
        grid-area: principal-title;
    }

    #principal-content p {
        font-size: 1.1rem;
        grid-area: principal-txt;
    }

    #principal-content a {
        font-size: 1rem;
        grid-area: principal-btn;
    }

    #news-content {
        grid-area: news;
        padding: 2em 1.5em;
        gap: 2em;
    }

    #news-content h2 {
        font-size: 3rem;
    }

    .content-cards h3 a {
        font-size: 1.5rem;
    }

    .content-cards p {
        font-size: 1.1rem;
    }

    #cards-area {
        grid-area: cards;
        flex-direction: row;
        height: fit-content !important;
    }

    .card {
        height: 150px;
        padding: 1em 0;
    }

    .card div {
        justify-content: space-around;
    }

    .card h2 {
        font-size: 2.5rem;
    }

    .card h3 a {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1rem;
        font-weight: 500;
    }

    .card-img {
        width: 110px;
        height: 150px;
    }

}

@media (min-width: 1600px) {

    #header, main {
        padding: 1em 20em !important;
    }
    
}