@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
    --soft-orange: #e9ab53;
    --soft-red: #f15e50;

    --off-white: #fffdfa;
    --grayish-blue: #c5c6ce;
    --dark-grayish-blue: #5d5f79;
    --very-dark-blue: #00001a;

    --font-primary: 'Inter';
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: var(--font-primary), sans-serif;
    font-size: 1rem;
    font-weight: normal;
}